304 with If-None-Match (etag has changed), If-Modified-Since (date hasn't changed)

I caught this exchange in the wild which broke my application (https://github.com/scottlamb/moonfire-nvr/issues/146):

```
GET /api/init/68.mp4 HTTP/1.1
X-Forwarded-Proto: https
X-Real-IP: 192.168.1.136
Connection: close
Host: nvr.home.slamb.org
sec-ch-ua: "Chromium";v="92", " Not A;Brand";v="99", "Google Chrome";v="92"
sec-ch-ua-mobile: ?1
User-Agent: Mozilla/5.0 (Linux; Android 11; Pixel 4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Mobile Safari/537.36
Accept: */*
Sec-Fetch-Site: same-origin
Sec-Fetch-Mode: cors
Sec-Fetch-Dest: empty
Referer: https://nvr.home.slamb.org/
Accept-Encoding: gzip, deflate, br
Accept-Language: en-US,en;q=0.9
Cookie: s=(redacted)
If-None-Match: "622ed7fcbc8beed5736e2c72291d9ed1798a96313958add5d49b2a06e700badf"
If-Modified-Since: Thu, 01 Jan 1970 00:00:00 GMT

HTTP/1.1 304 Not Modified
accept-ranges: bytes
date: Fri, 20 Aug 2021 03:44:14 GMT
last-modified: Thu, 01 Jan 1970 00:00:00 GMT
etag: "f665fccdd9a8d56ab97bdb5004544471f73c5a72fe6fd0d7741024e2ec4c3540"
cache-control: private, max-age=3600
```

Here the `If-None-Match` doesn't match the etag. The `If-Modified-Since` hasn't been modified.

This is no good; it shouldn't send 304 if the etags don't match. The last modified date isn't really that reliable. This code is setting it badly (arguably should be omitting it) but wall clocks aren't guaranteed monotonic anyway.

[RFC 2616 section 14.16](https://datatracker.ietf.org/doc/html/rfc2616#section-14.26) says:

>  If none of the entity tags match, then the server MAY perform the requested method as if the If-None-Match header field did not exist, but MUST also ignore any If-Modified-Since header field(s) in the request. That is, if no entity tags match, then the server MUST NOT return a 304 (Not Modified) response.